Add your information below and submit the file via canvas (till the end of the day) to claim points for the participation point.

**Name**: Fabian Brock

**Group number**: I was not in class due to illness, my data madness group is 19

**Collaborators**: none

## Bootcamp B2: Pandas Example

In [35]:
import pandas as pd
hit_albums = pd.read_csv("hit_albums.csv")

- Calculate the mean certified sales for all albums.

In [36]:
hit_albums["Certified sales (millions)"].mean()

22.40909090909091

- Create a new dataframe that only contains albums with more than 20 million certified sales.

In [37]:
df = hit_albums.drop(hit_albums.loc[hit_albums['Certified sales (millions)'] < 20].index)
df

,Artist,Album,Released,Genre,Certified sales (millions),Claimed sales (millions)
0,Michael Jackson,Thriller,1982,"Pop, rock, R&B",45.4,65.0
1,AC/DC,Back in Black,1980,Hard rock,25.9,50.0
2,Pink Floyd,The Dark Side of the Moon,1973,Progressive rock,22.7,45.0
3,Whitney Houston / Various artists,The Bodyguard,1992,"Soundtrack/R&B, soul, pop",27.4,44.0
4,Meat Loaf,Bat Out of Hell,1977,"Hard rock, progressive rock",20.6,43.0
...,...,...,...,...,...,...
72,Tracy Chapman,Tracy Chapman,1988,Folk rock,20.0,NaN
73,Usher,Confessions,2004,R&B,20.0,NaN
74,Various artists,Flashdance: Original Soundtrack from the Motio...,1983,Soundtrack,20.0,NaN
75,Whitney Houston,Whitney,1987,"Pop, R&B",20.0,NaN
76,Shakira,Laundry Service,2001,"Pop, Rock",20.0,NaN

- Create a new dataframe based on the `hit_albums` dataset that only contains the artists that have at least two albums in the list.

In [38]:
# I am assuming the dataset should only contain artist and count
df1 = hit_albums.groupby("Artist").size().reset_index(name='cnt')
df1 = df1[df1.cnt >= 2]
df1

             Artist  cnt
3             Adele    2
6   Backstreet Boys    2
9          Bon Jovi    2
11   Britney Spears    2
14      Celine Dion    2
18           Eagles    2
29          Madonna    3
30     Mariah Carey    2
33  Michael Jackson    5
38       Pink Floyd    2
43     Shania Twain    3
48      The Beatles    3
53  Various artists    3
54  Whitney Houston    2

In [39]:
# In case the entire dataframe is wanted
df2 = hit_albums[hit_albums.index.isin(df1.index)]
df2

,Artist,Album,Released,Genre,Certified sales (millions),Claimed sales (millions)
3,Whitney Houston / Various artists,The Bodyguard,1992,"Soundtrack/R&B, soul, pop",27.4,44.0
6,Bee Gees / Various artists,Saturday Night Fever,1977,Disco,19.0,40.0
9,Led Zeppelin,Led Zeppelin IV,1971,"Hard rock, heavy metal",29.0,37.0
11,Alanis Morissette,Jagged Little Pill,1995,Alternative rock,24.8,33.0
14,Eagles,Hotel California,1976,"Rock, soft rock, folk rock",21.5,32.0
18,Celine Dion,Let's Talk About Love,1997,"Pop, Soft rock",19.3,31.0
29,Santana,Supernatural,1999,Rock,20.5,30.0
30,Guns N' Roses,Appetite for Destruction,1987,"Heavy metal, hard rock",21.3,30.0
33,Spice Girls,Spice,1996,Pop,28.0,NaN
38,Carole King,Tapestry,1971,Pop,25.0,NaN
43,Phil Collins,No Jacket Required,1985,"Pop, Rock",25.0,NaN
48,Backstreet Boys,Backstreet's Back / Backstreet Boys,1997,Pop,24.0,NaN
53,Oasis,(What's the Story) Morning Glory?,1995,"Britpop, rock",22.0,NaN
54,Bon Jovi,Cross Road,1994,Hard rock,21.0,NaN

- Create a new dataframe that contains the aggregates sum of all certified sales for each year.

In [40]:
# I am unsure what the task wants, so I did it 2 ways
df3 = hit_albums.groupby("Released").sum()["Claimed sales (millions)"]
df3

Released
1967     32.0
1969     30.0
1970      0.0
1971     37.0
1973     45.0
1976     74.0
1977    123.0
1978      0.0
1979     30.0
1980     50.0
1981      0.0
1982     65.0
1983      0.0
1984     30.0
1985     30.0
1986      0.0
1987     96.0
1988      0.0
1990     30.0
1991     92.0
1992     44.0
1993     32.0
1994      0.0
1995     33.0
1996     32.0
1997    100.0
1999     30.0
2000     31.0
2001      0.0
2002      0.0
2004      0.0
2011     30.0
2015      0.0
Name: Claimed sales (millions), dtype: float64

In [41]:
df4 = hit_albums.groupby("Released").sum()
df4

          Certified sales (millions)  Claimed sales (millions)
Released
1967                            13.1                      32.0
1969                            14.4                      30.0
1970                            25.0                       0.0
1971                            54.0                      37.0
1973                            22.7                      45.0
1976                            73.7                      74.0
1977                            67.5                     123.0
1978                            28.0                       0.0
1979                            57.6                      30.0
1980                            25.9                      50.0
1981                            25.0                       0.0
1982                            45.4                      65.0
1983                            62.0                       0.0
1984                           109.6                      30.0
1985                            67.7                      30.0
1986                            53.0                       0.0
1987                           144.5                      96.0
1988                            20.0                       0.0
1990                            19.4                      30.0
1991                            54.2                      92.0
1992                            76.4                      44.0
1993                            42.0                      32.0
1994                            64.0                       0.0
1995                           111.8                      33.0
1996                            48.2                      32.0
1997                            91.0                     100.0
1999                            72.5                      30.0
2000                            89.6                      31.0
2001                            20.0                       0.0
2002                            65.0                       0.0
2004                            20.0                       0.0
2011                            22.3                      30.0
2015                            20.0                       0.0